#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.gameBoard {
  flex: 1;
}

