.row {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: row;
}

.activeColors {
    display: flex;
    flex-direction: row;
}

.fourDots {
    width: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}